<section class="hero">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <a class="hero-brand" href="index.html" title="Home"><img alt="Bell Logo" src="img/yogir.png"></a>
            </div>
        </div>
        <div class="col-md-12">
            <h1>Our Vision</h1>
            <p class="tagline">Be The Change You want to see in the world</p>
        </div>

        <div class="col-md-12">
            <h1>Our Mission</h1>
            <p class="tagline">Enable the world's Businesses to be more Productive and Successful</p>
        </div>
    </div>
</section>
