<header>
    <div id="logo" class="menuUp">
        <a href="index.html"><div class="logo"></div></a>
       <div id="navToggle" class="navBar" (click)="toggleMobile($event)">
        <i class="fa fa-bars"></i>
      </div>
    </div>
    <nav>
        <ul>
          <li>
              <a (click)="toggleSubMenuMobile()" id="expand">Solutions<span class="toggle">Expand</span><span class="caret"></span></a>
              <nav id="sub-menu">
                  <ul class="sub-nav">
                    <li><a routerLink="/product-development" routerLinkActive="active">Product Development</a></li>
                    <li><a routerLink="/software-support" routerLinkActive="active">Software Support</a></li>
                    <li><a routerLink="/mobile-automation" routerLinkActive="active">Web & Mobile Automation</a></li>
                  </ul>
              </nav>
          </li>
          <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
          <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>
<div class="footer">
  <p>&copy; 2017 Footer</p>
</div>