@media screen and (min-width: 767px) {
  nav {
    overflow: hidden;
  }

  nav {
    label.navBars {
      display: none;
    }
  }

  nav .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  nav .logo {
    margin: 7px 0;
  }
  nav {
    ul.menu {
      display: block;
      box-shadow: none;
      border: none;
      float: right;
      /*POSITION*/
      position: static;
    }
  }
  nav {
    .menu {
      li {
        display: inline-block;
      }
    }
  }
  nav {
    .menu {
      li {
        a {
          border-bottom: 0;
          padding: 20px 10px;
        } 
      }
    }
  }
}

nav {
  position: relative;
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  .mobile-menu {
    display: block !important;
  }
  .logo {
    display: inline-block;
    color: black;
    font-size: 1.7em;
    line-height: 1.55em;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 0;
    /*POSITION*/
    position: relative;
  }
  .menu {
    li {
      ul {
        display: none;
        position:absolute;
        top:100%;
        left:0;
        background:#fff;
        padding:0;
      }
    }
    li:hover > ul {
      display: block;
    }
  }
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    // display: none;
    /*POSITION*/
    top: 60px;
    right: 0;
    left: 0;
    a {
      color: #292938;
      font-weight: bold;
      display: block;
      padding: 15px;
      border-bottom: 1px solid #d9d9d9;
      
      &:hover {
        background: #292938;
        color: #efefef;
      }
    }
  }
  .navBars {
    float: right;
    font-size: 1.7em;
    line-height: 1.5em;
    /*USER SELECTION*/
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
  }
}
.footer {
  color: #fff;
  text-align: center;
  padding: 10px 0;
  background: #3b3b58;
}
.footer p {
  opacity: .65;
}
