
<header>
  <nav>
    <div class="container">
      <div class="logo"><a routerLink="/" routerLinkActive="active">Logo</a></div>
      <label class="navBars" (click)="toggleMobile()">
        <i class="fa fa-bars"></i>
      </label>
      <ul id="menu" class="menu">
        <li><a routerLink="/solution" routerLinkActive="active">Solutions</a>
          <ul>
            <li><a href="#">Product Development</a></li>
            <li><a href="#">Software Support</a></li>
            <li><a href="#">Web & Mobile Automation</a></li>
          </ul>
        </li>  
        <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
        <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<div class="footer">
  <p>&copy; 2017 Footer</p>
</div>