// styles in src/style directory are applied to the whole page
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body {
  font-family: Helvetica, Arial, Sans-Serif;
    
}

