<section class="hero">
  <h1>Welcome to Yogi R Tech</h1>
  <h2> One Stop Solution for All Your Business Needs in Offshore</h2>
</section>
<section class="section">
  <div class="wrapper">
    <h2 class="section__title">We Build, Maintain & Automate Web and Mobile Applications</h2>
    <p class="section__intro">
     Our Vision:
        Be The Change You want to see in the world
    </p>
    <div class="box__grid">
      <article class="box"><a class="box__content" routerLink="/product-development"><i class="fa fa-lightbulb-o fa-3x"></i>
          <h3 class="box__title">Production Development</h3>
          <p>Full Stack and Mobile Product Development.</p><span class="box__more">Read more <i class="fa fa-arrow-right"></i></span></a></article>
      <article class="box"><a class="box__content" routerLink="/software-support"><i class="fa fa-code fa-3x"></i>
          <h3 class="box__title">Software Support</h3>
          <p> Software Maintenance, Level1 & Level2 support.</p><span class="box__more">Read more <i class="fa fa-arrow-right"></i></span></a></article>
      <article class="box"><a class="box__content" routerLink="/mobile-automation"><i class="fa fa-mobile fa-3x"></i>
          <h3 class="box__title">Web & Mobile Automation</h3>
          <p> Desktop / Mobile Web, iOS and Android Automation Solutions.</p><span class="box__more">Read more <i class="fa fa-arrow-right"></i></span></a></article>
    </div>
  </div>
</section>