<section class="hero">
  <h1>Welcome to Yogi R Tech</h1>
  <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
</section>
<section class="section">
  <div class="wrapper">
    <h2 class="section__title">Let's us help your company</h2>
    <p class="section__intro">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    <div class="box__grid">
      <article class="box"><a class="box__content" routerLink="/product-development"><i class="fa fa-lightbulb-o fa-3x"></i>
          <h3 class="box__title">Production Development</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p><span class="box__more">Read more <i class="fa fa-arrow-right"></i></span></a></article>
      <article class="box"><a class="box__content" routerLink="/software-support"><i class="fa fa-code fa-3x"></i>
          <h3 class="box__title">Software Support</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p><span class="box__more">Read more <i class="fa fa-arrow-right"></i></span></a></article>
      <article class="box"><a class="box__content" routerLink="/mobile-automation"><i class="fa fa-mobile fa-3x"></i>
          <h3 class="box__title">Web & Mobile Automation</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p><span class="box__more">Read more <i class="fa fa-arrow-right"></i></span></a></article>
    </div>
  </div>
</section>